<table class="index" id="listing_products">
  <tr data-hook="admin_products_index_headers">
    <th><%= t(:sku) %></th>
    <th><%= sort_link @search,:name, t(:name), {}, {:title => 'admin_products_listing_name_title'} %></th>
    <th><%= sort_link @search,:master_price, t(:master_price) %></th>
    <th><%= sort_link @search,:count_on_hand, 'On Hand' %></th>
    <th data-hook="admin_products_index_header_actions"></th>
  </tr>
  <% @collection.each do |product| %>
      <tr <%= "style='color: red;'" if product.deleted? %> id="<%= dom_id product %>" data-hook="admin_products_index_rows">
        <td><%= product.sku rescue '' %></td>
        <td><%= product.name rescue '' %></td>
        <td><%= number_to_currency product.price rescue '' %></td>
        <td><%= product.on_hand %></td>
        <td class="actions" data-hook="admin_products_index_row_actions">
          <%= link_to_edit product, :class => 'edit' unless product.deleted? %>
          &nbsp;
          <%= link_to_clone product, :class => 'clone' %>
          &nbsp;
          <%= link_to_delete product unless product.deleted? %>
        </td>
      </tr>
  <% end %>
</table>